<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Form Page</title>
  </head>
  <body>
    <form action="catalog/new/" method="post">
      <div>
        <label for="user">username</label>
        <input type="text" name="user" id="user" required />
      </div>

      <div>
        <label for="text">aloha text</label>
        <input type="text" name="text" id="text" required />
      </div>

      <div>
        <input type="submit" value="Submit" />
      </div>
    </form>
    <div>
      <a href="/">Go back to home page</a>
    </div>
  </body>
</html>
